
/* Set the style of app main window */

#prueba{
      -fx-background-color: transparent;
        -fx-background-radius: 9 9 12 12;
}


#mainScreen{

    -fx-background-color: transparent;
    -fx-background-radius: 9 9 12 12;
    -fx-background-color: white;

}

#addMaterialMainScreen{

       -fx-background-color: transparent;
       -fx-background-radius: 9 9 12 12;
       -fx-background-color: white;

 }

/* Gradient background when hoovering over the window buttons */

.botonesventana:hover {

    -fx-background-radius: 6;
    -fx-background-color: linear-gradient(from 25% 55% to 100% 100%, #9e00fc, #07cdcc);
    -fx-opacity: 0.5;

}

/* Remove background when no hoovering */

.botonesventana {
   -fx-background-color: transparent;
}



/* Coloring the background of left and center zones */

#lateral{
    -fx-background-color: #424242;
    -fx-background-radius: 0 0 0 9;
}

#centro{
    -fx-background-color: #F4F4F4;
    -fx-background-radius: 0 0 9 0;
}



.leftbuttons {
    -fx-background-color: transparent;
}


